<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tree Hole!</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
  <body>
    <nav class="navbar is-transparent is-dark">
      <div class="navbar-brand">
        <a class="navbar-item" href="index.html">
          <%= image_tag("logo.png") %>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>

      <div id="navbarExampleTransparentExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="field is-grouped">
              <p class="control">
                <a class="bd-tw-button button" href="index.html">
                  <span class="icon">
                    <i class="far fa-meh-blank"></i>
                  </span>
                  <span>
                    說秘密
                  </span>
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </nav>
  <section class="section">
    <div class="container">
      <h1 class="title">
        好想說出口...
      </h1>
      <p class="subtitle">
        趁著沒人沒風，把頭鑽到樹洞前 <strong>說出你的祕密吧 !</strong>
      </p>
    </div>
  </section>
  <section class="section">
    <div class="main-content-space">
      <div class="container">
        <div class="content is-small is-marginless has-text-grey-light">
            林小美
        </div>
        <div class="main-content is-dark">
          <div class="main-content-space">
            <div class="content">
              力還間眼下產十何的叫花子眾眼心算上於車景不明口可只許，自由寫說讀的中產難大率不……眾未民國一、由兩房自到士辦具說安向球！以未我子！配人生親市使已生書人低取就制去車，什達行行帶成有記然言。參件關你些道，同小石商石平的感童生入開是情中在。
            </div>
          </div>
        </div>
        <div class="content is-small is-pulled-right has-text-grey-light">
          2018 / 09 / 25 P.M. 7:20
        </div>
      </div>
    </div>
    <div class="main-content-space">
      <div class="container">
        <div class="content is-small is-marginless">
            林小美
        </div>
        <div class="main-content is-dark">
          <div class="main-content-space">
            <div class="content">
              力還間眼下產十何的叫花子眾眼心算上於車景不明口可只許，自由寫說讀的中產難大率不……眾未民國一、由兩房自到士辦具說安向球！以未我子！配人生親市使已生書人低取就制去車，什達行行帶成有記然言。參件關你些道，同小石商石平的感童生入開是情中在。
            </div>
          </div>
        </div>
        <div class="content is-small is-pulled-right">
          2018 / 09 / 25 P.M. 7:20
        </div>
      </div>
    </div>
    <div class="main-content-space">
      <div class="container">
        <div class="content is-small is-marginless has-text-grey-light">
            林小美
        </div>
        <div class="main-content is-dark">
          <div class="main-content-space">
            <div class="content">
              力還間眼下產十何的叫花子眾眼心算上於車景不明口可只許，自由寫說讀的中產難大率不……眾未民國一、由兩房自到士辦具說安向球！以未我子！配人生親市使已生書人低取就制去車，什達行行帶成有記然言。參件關你些道，同小石商石平的感童生入開是情中在。力還間眼下產十何的叫花子眾眼心算上於車景不明口可只許，自由寫說讀的中產難大率不……眾未民國一、由兩房自到士辦具說安向球！以未我子！配人生親市使已生書人低取就制去車，什達行行帶成有記然言。參件關你些道，同小石商石平的感童生入開是情中在。力還間眼下產十何的叫花子眾眼心算上於車景不明口可只許，自由寫說讀的中產難大率不……眾未民國一、由兩房自到士辦具說安向球！以未我子！配人生親市使已生書人低取就制去車，什達行行帶成有記然言。參件關你些道，同小石商石平的感童生入開是情中在。
            </div>
          </div>
        </div>
        <div class="content is-small is-pulled-right has-text-grey-light">
          2018 / 09 / 25 P.M. 7:20
        </div>
      </div>
    </div>
  </section>
  </body>
</html>